body {
  background-color: #e5e6eb;
  color: #2d2224;
  font-size: 14px;
  line-height: 1.3;
}
#container {
  background-color: #e5e6eb;
  color: #2d2224;
}
#intro{
  text-align: center;
  padding-bottom: 10px;
}

.requirements {
  margin-top: 15px;
  text-align: justify;
  padding-left: 15px;
}
.req-details {
    float: left;
    width: 45%;
    padding: 20px;
}
.settings {
    float: left;
    width: 33%;
    padding: 20px;
}
.runMode{
    float: left;
    width: 45%;
    padding: 20px;
}
.req-list {
      margin-top: 10px;
      margin-left: 30px;
      border: none;
  }
.req-list-item {
    background-color: #e5e6eb;
    color: #2d2224;
    margin-left: : 40px;
    border: none;
    }
#run {
    margin-top: 15px;
    text-align: justify;
    padding-left: 15px;
    }
h3 {
    text-align: center;
    font-weight: bold;
}
h4 {
    font-weight: bold;
    font-size: 14px;
}
.test-details{
    float: left;
    width: 33%;
    padding: 18px;
}
table,thead,tbody,tfoot,tr,th,td,p {
    background-color: #e5e6eb;
    color: #2d2224;
    font-size: 14px;
    padding: 10px;
}
tr {
    border-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #2d2224;
}

a:link {
    color: #e57248;
    text-decoration: none;
}
a:visited {
    color: #b25838;
    text-decoration: none;
}
#methods {
    width: 100%;
    padding: 20px;
}
.border-right {
    border-width: 1px;
    border-right-style: dashed;
    border-right-color: #2d2224;
}
.no-border {
    border: none;
}

.short {
    height: 300px;
}

.tall{
    height: 700px;
}
